* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin-left: 500px;
    margin-top: 100px;
}

.box {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: rgb(255, 209, 152);
}

.blockMini {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: aquamarine;
}

.blockBtn {
    margin-top: 50px;
    margin-left: 200px;
}